python-telegram-bot==21.10
google-generativeai>=0.8.0
google-api-python-client==2.120.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.1
python-dateutil>=2.8.0
SpeechRecognition>=3.10.0
pydub>=0.25.1
